/* style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d1117;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .clock {
    color: #d3e6e4;
    font-size: 80px;
    background: #161b22;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px #d3e6e4;
  }
  